<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>887424921355-0g1h2de2l314mfnklm3iv390s7oi961c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887424921355-0g1h2de2l314mfnklm3iv390s7oi961c</string>
	<key>API_KEY</key>
	<string>AIzaSyDUlKexgqfFaHP94TCK-M3EQcnQQZmimbM</string>
	<key>GCM_SENDER_ID</key>
	<string>887424921355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zapppworld.staff</string>
	<key>PROJECT_ID</key>
	<string>zappphk</string>
	<key>STORAGE_BUCKET</key>
	<string>zappphk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:887424921355:ios:6cb9e4cb87a57ce1</string>
	<key>DATABASE_URL</key>
	<string>https://zappphk.firebaseio.com</string>
</dict>
</plist>