<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>717569451415-14360vmls046fuitiuah4oekt3lbei4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717569451415-14360vmls046fuitiuah4oekt3lbei4h</string>
	<key>API_KEY</key>
	<string>AIzaSyD7HVWWUxnwX0iEryNgHTg8lCT9UmEYq1E</string>
	<key>GCM_SENDER_ID</key>
	<string>717569451415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zapppworld.staff</string>
	<key>PROJECT_ID</key>
	<string>zappp-161811</string>
	<key>STORAGE_BUCKET</key>
	<string>zappp-161811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:717569451415:ios:6cb9e4cb87a57ce1</string>
	<key>DATABASE_URL</key>
	<string>https://zappp-161811.firebaseio.com</string>
</dict>
</plist>