page-take-picture {
  .middle-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 160px);
  }

  .middle-camera {
    text-align: center;

    button {
      ion-icon {
        font-size: 100px;
      }
    }
  }
}
