<ion-header>

  <ion-navbar [hideBackButton]="isStarted">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="no-pull has-header" *ngIf="!isShowingNextStationInfo">
  <div class="info-row top-content">
    <div>{{ 'STATION' | translate }}</div>
    <div class="content">{{ station.name }}</div>
  </div>
  <div class="middle-content">
    <div>{{ 'STAY_TIME' | translate }}</div>
    <button class="transparent-button" (click)="decreaseOneMinute()">
              <ion-icon name="md-remove"></ion-icon>
          </button>
    <div class="count-down">
      <ion-input type="tel" [textMask]="{mask: timeMask}" [readonly]="isStarted" [ngModel]="displayDuration(duration)" (change)="manualChangeParkingTime($event)"></ion-input>
    </div>
    <button class="transparent-button" (click)="increaseOneMinute()">
              <ion-icon name="md-add"></ion-icon>
          </button>
  </div>
  <div class="bottom-content">
    <button ion-item no-lines (click)="chooseNextStation()">{{ 'CHOOSE_NEXT_STATION' | translate }}</button>
    <div class="content" *ngIf="nextStation">{{ nextStation.name }}</div>
  </div>
  <div class="button-bottom-full">
    <button ion-button full *ngIf="!isStarted" [disabled]="!nextStation || !duration" (click)="updateStation()">{{ 'BUTTON_START' | translate }}</button>
    <button ion-button full *ngIf="isStarted" (click)="leaveCurrentStation()">{{ 'BUTTON_STOP_OR_LEAVE' | translate }}</button>
  </div>

</ion-content>

<ion-content padding *ngIf="isShowingNextStationInfo">
  <div class="info-row top-content next-station-info">
    <div>{{ 'NEXT_STATION' | translate }}</div>
    <div class="content">{{ nextStation.name }}</div>
    <div class="content">{{ nextStation.address }}</div>
  </div>
  <div class="bottom-content">
    <button ion-item no-lines (click)="chooseNextStation()">{{ 'CHOOSE_NEXT_STATION_ANOTHER' | translate }}</button>
    <div class="content" *ngIf="nextStation">{{ nextStation.name }}</div>
  </div>
  <div class="button-bottom-full">
    <button ion-button full (click)="goToNextStation()">{{ 'BUTTON_GO' | translate }}</button>
  </div>

</ion-content>
