<ion-header>

  <ion-navbar>
    <ion-title>{{ pageName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="driver-notice" *ngIf="isDriver()">{{ (isAcceptLuggage ? 'DRIVER_ACCEPT_LUGGAGE_LABEL' : 'DRIVER_TRANSFER_LUGGAGE_LABEL') | translate }}</div>
  <ion-row full class="list-header info-row">
    <ion-col col-6 class="label no-padding-left">{{ (isAcceptLuggage ? 'PICKUP_TRUCKS' : 'TRUCK') | translate }}</ion-col>
    <ion-col col-6 class="label no-padding-left text-align-right">{{ 'ORDER_QUANTITY' | translate }}</ion-col>
  </ion-row>
  <ion-list>
    <button class="right-number no-padding-left" ion-item no-lines *ngFor="let item of listTruck" (click)="isDriver() ? goToTruckDirection(item) : goToTruckOrderPage(item)">
        {{ item.number }}
        <span>{{ item.orderQuantity }}</span>
    </button>
  </ion-list>

</ion-content>
