<ion-menu type="overlay" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'MENU' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div class="user_info" *ngIf="dataShare.userInfo">
        <img class="avatar" [src]="dataShare.userInfo.avatar || defaultAvatar" />
        <div class="name">{{ dataShare.userInfo.name }}</div>
        <div>{{ dataShare.userInfo.email }}</div>
        <div class="capitalize">{{ dataShare.userInfo.role.toLowerCase() }}</div>
      </div>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logOut()">{{ 'LOG_OUT' | translate }}</button>
    </ion-list>
  </ion-content>

</ion-menu>
<span class="version-info" [ngClass]="isPlatformiOS(platform) ? 'margin-top' : ''">Version 1.0 Build 2017.10.27.0 Server {{ serverName }}</span>
<div #messageBar class="message-bar" [ng2-draggable]="true" [allow-horizontal]="false" [max-height]="deviceHeight" [hidden]="!showMessageBar">
  <img class="left-image" src="assets/images/warning.png" />
  <div class="content">{{ messageBarContent }}</div>
</div>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [style.height.px]="deviceHeight" #content swipeBackEnabled="false"></ion-nav>
