page-direction-user {
  #cancel-order-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;

    ion-item.middle-input {
      margin-top: calc(50vh - 64px);
      border: solid 1px #cccccc;
    }

    .item-ios.item-block .item-inner {
      border: none;
    }
  }
}
