page-direction-user {
  button.above-button {
    width: auto;
  }

  button.left-bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    background-color: white;
  }

  button.call {}

  button.chat {
    bottom: 75px;
  }
}
