<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ partnerName }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="no-pull has-header">
  <div class="chat-view" #chatView [style.height]="isPlatformiOS(platform) ? 'calc(100vh - 124px - ' + keyboardHeight + 'px)' : 'calc(100vh - 104px)'">
    <div class="message" *ngFor="let item of dataShare.chatContent" [ngClass]="getMessageClass(item)">
      <div class="message-container">
        <div class="partner-name" *ngIf="item.isReceived">{{ partnerName }}</div>
        <div>
          {{ item.content }}
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-input">
    <form>
      <ion-textarea #chatTextArea placeholder="{{ 'CHAT_INPUT_PLACEHOLDER' | translate }}" [(ngModel)]="chatInput" [ngModelOptions]="{standalone: true}" (keydown)="textAreaOnKeyDown($event)"></ion-textarea>
      <button ion-button class="send" [disabled]="!chatInput" (touchstart)="handleButtonSendMessage($event)">{{ 'BUTTON_SEND' | translate }}</button>
    </form>
  </div>

</ion-content>
