page-collection-mode {
  button.button-full-ios {
    width: 100%;
  }

  button.multi-row {
    height: auto;
    line-height: 25px;
    min-height: 2.8em;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
